<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">ngx-error-box</h1>
        <p class="lead">Set of reusable Angular components (factory workers) to help display error messages.</p>
        <hr class="my-4">
        <div class="text-center">
          <button type="button"
                  class="btn btn-sm btn-dark mr-1"
                  (click)="showError(error)">Error
          </button>
          <button type="button"
                  class="btn btn-sm btn-dark mr-1"
                  (click)="showErrorWithRetry(error)">Error (+Retry)
          </button>
          <button type="button"
                  class="btn btn-sm btn-dark mr-1"
                  (click)="showError(validationError)">Validation Errors
          </button>
          <button type="button"
                  class="btn btn-sm btn-dark mr-1"
                  (click)="showError(error, container)">Error (container)
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row mt-4">
    <div class="col">
      <div style="height: 200px; border: 1px solid #607D8B; position: relative;" #container></div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="display-4 size-2">Error-Box Renderer (Worker)</h2>
      <pre><code class="language-ts">
        this.errorBoxWorker.render(error: ErrorBoxInterface, options: DisplayOptionsInterface = {{'{}'}}): ComponentRef&lt;ErrorBoxComponent>

        this.errorBoxWorker.render(
          error,
          {{'{'}}
            dismiss: (compRef: ComponentRef&lt;ErrorBoxComponent>): void => {{'{}'}},
            retry: {{'{'}}
              buttonText: 'RETRY',
              callback: (compRef: ComponentRef&lt;ErrorBoxComponent>): void => {{'{}'}}
            }
          }
        );
      </code></pre>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h2 class="display-4 size-2">CSS styles</h2>
      <pre><code class="language-css">
        /* You can add global styles to this file, and also import other style files */
        @import "../../ngx-error-box/src/assets/css/ngx-error-box.css";
      </code></pre>
    </div>
  </div>
</div>
